/* OVERLAY (background dim) */
.pm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: flex-start;

  z-index: 3000;
}

/* SLIDE UP SHEET */
.pm-sheet {
  width: 100%;
  background: #1a1a1a;

  border-radius: 0 0 20px 20px;

  padding: 20px;

  animation: slideDown 0.3s ease-out;

  transition: transform 0.2s ease;
  will-change: transform;

  padding-top: calc(20px + env(safe-area-inset-top));

  max-height: 80vh;
  overflow-y: auto;

}

/* HEADER */
.pm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.pm-header h3 {
  margin: 0;
  color: white;
}

/* BODY */
.pm-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BUTTONS */
.pm-btn {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;

  font-size: 16px;

  color: white;
  background: #222;

  border: 1px solid #333;
  border-radius: 10px;

  cursor: pointer;
}

.pm-btn:hover {
  background: #333;
}

.pm-icon {
  color: #00ff85;
  font-size: 18px;
}

.pm-handle {
  width: 40px;
  height: 5px;
  background: #555;
  border-radius: 10px;
  margin: 15px auto 0 auto;
}

.pm-close-btn {
  margin-top: -25px;
  width: 32px;
  height: 32px;

  background: white;
  color: black;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.pm-close-btn:active {
  transform: scale(0.9);
}

/* ANIMATION */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}