.hh-home-header {
  position: relative;
  height: 520px;
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hh-header-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.8s ease;
}

.hh-header-video.loaded {
  opacity: 1;
}

.hh-header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: 2;
}

.hh-header-content {
  position: relative;
  z-index: 3;
  width: 80vw;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
}

.hh-header-title {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 30px;
  max-width: 600px;
}

.hh-search-bar-wrapper {
  width: 100%;
}

.hh-header-search {
  display: flex;
  align-items: center;
  width: 80vw;
  margin-bottom: 25px;

  background: rgba(15,15,15,0.65);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(0, 255, 102, 0.6);
  border-radius: 12px;

  overflow: visible;
  /* overflow: hidden; */

  /* subtle glow */
  box-shadow:
    0 0 6px rgba(0,255,120,0.4),
    0 0 18px rgba(0,255,120,0.2);

  transition: all 0.25s ease;
  position: relative;
}

.hh-header-search:focus-within {
  border-color: #00ff66;
  box-shadow:
    0 0 8px rgba(0, 255, 102, 0.7),
    0 0 25px rgba(0, 255, 102, 0.45),
    0 0 40px rgba(0, 255, 102, 0.2);
}

.hh-header-search input {
  flex: 1;
  border: none;
  padding: 16px;
  font-size: 16px;
  outline: none;
}

.bhh-header-search button {
  background: #222;
  border: none;
  color: white;
  padding: 16px 18px;
  cursor: pointer;
}

.bhh-header-categories button:hover {
  background: white;
  color: black;
}

.hh-header-search button {
  background: transparent;
  border: none;

  color: #00ff66;

  padding: 16px 20px;

  cursor: pointer;
  font-size: 18px;

  transition: 0.2s;
}

.hh-header-search button:hover {
  color: white;
  transform: scale(1.1);
}

.hh-header-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.hh-header-categories button:hover {
  background: #00ff66;
  color: black;
  border-color: #00ff66;
}

.hh-header-categories a {
  text-decoration: none;
}

.hh-header-categories button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s;
}