.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-image: url('https://res.cloudinary.com/dmjvngk3o/image/upload/v1754905258/create-post-background_idljik.png');
  background-size: cover;       /* Make the image cover the entire container */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 0 20px #00ff00;
  border: 2px solid #00ff00;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #00ff00;
  cursor: pointer;
}

.post-type-buttons {
  display: flex;
  gap: 11px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.post-type-btn {
  padding: 10px 15px;
  background: #242424;
  /* border: 2px solid #00ff00; */
  border: 2px solid #303030;
  color: #f7f7f7;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.post-type-btn.selected,
.post-type-btn:hover {
  background-color: #00ff00;
  color: #000000;
  /* box-shadow: 0 0 8px rgba(72, 255, 48, 0.8); */
  transform: scale(1.05);
  border: 2px solid #00ff00;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}

input[type="text"],
textarea {
  background: #0d0d0d;
  border: 1px solid #00ff00;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

textarea {
  height: 120px;
  resize: none;
}

.post-btn {
  margin-top: 1rem;
  background-color: #00ff00;
  color: #000;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.2s;
}

.post-btn:hover {
  background-color: #33ff33;
}
