.help-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 6px;
}

.help-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 1;
  /*vertical-align: middle;*/
}

.help-icon:hover {
  opacity: 1;
}

.help-popover {
  position: absolute;
  top: 24px;
  left: 0;
  width: 220px;
  background: #222;
  color: white;
  padding: 15px 17px;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1000;
}

.close-help-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
