.create-post {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-image: url('https://res.cloudinary.com/dmjvngk3o/image/upload/v1754905258/create-post-background_idljik.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.create-post input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  font-size: 1rem;
}

.create-post button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
